.navbar {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  
    &.margenes.navbar-expand-lg.navbar-light {
      background-color: $navbar-bg-color;
    }
  
    .navbar-brand {
      padding-left: 15px;
    }
  
    .navbar-toggler:hover {
      background-color: $hover-bg-color;
    }
  }
  