
$body-bg-color: rgb(14, 126, 160);
$navbar-bg-color: #fff;
$hover-bg-color: rgb(27, 141, 175);
$font: "Montserrat", sans-serif;
$form-border-color: #666;
$placeholder-color: #494949;
$button-bg-color: #1a3553;
$button-hover-color: #1a2e44;
$footer-border-color: #5691bb;
